body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.banner{
height:10vh;
background:#1e293b;
display:flex;
align-items:center;
justify-content:center;
}

.game{
margin-top:20px;
}

canvas{
background:#111827;
border-radius:50%;
}

button{
padding:15px 30px;
margin:10px;
font-size:18px;
border:none;
border-radius:8px;
}

#readyBtn{
background:green;
}

#spinBtn{
background:red;
}
